.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: background-color .3s ease;

  align-self: flex-start;
}

.card.uncompleted {
  background-color: var(--todo-uncompleted-bg-color);
}

.card.completed {
  background-color: var(--todo-completed-bg-color);
}
