.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: background-color .3s ease;
}

.card.completed {
  background-color: #C6FF00;
}

.card.uncompleted {
  background-color: white;
}
